* {
    margin: 0;
    padding: 0;
}

#my2048 {
    position: relative;
    margin: 5% auto;
    background: #bbada0;
}

#my2048 div {
    position: absolute;
    display: inline-block;
    border: 0;
}